@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --for-dark-color: #007FFF;
  --lite-dark-color: #11151A;
  --lite-blue-color:#2F81F7;
  --lite-bluissh-body-background-color:#E6E6FA;
  --yellow-color:#f5ba13;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  /* background-color: var(--lite-bluissh-body-background-color); */
}


.header{
  color: white;
  width: 100%;
  background-color: var(--yellow-color);
  display: flex;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  padding: 13px 0;


}
.header img{
  width: 110px;
  height: 60px;
}



.main_note{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin:20px auto;
  padding: 10px;
  color:  #CCCCCC;
  box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.5);
}

.main_note input{
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;  
}
.main_note textarea{
  width: 100%;
  outline: none;
  border: none;
  margin-top: 8px;
  resize: none;
  min-height: 70px;

}
.main_note button{
  border-radius: 35%;
}
.plus_sign{
  color: var(--for-dark-color);

}

.note{
  min-width: 300px;
  height: 150px;
  float: left;
  /* border: 2px solid black; */
  margin: 40px 60px;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.3);
  padding: 10px;
  position: relative;
}
.note p{
  margin-bottom: 9px;
}
.note h2{
  text-align: center;
  border-bottom: 1px solid rgb(195, 191, 191) ;
}
#butn{
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}


#footer{
  position: relative;
  clear: both;
  bottom: 0;
  width: 100%;
}

footer p{
  margin: 0;
  text-align: center;
} 

