*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Poppins', sans-serif;
}


.main_div{
  width: 100%;
  height: 100vh;
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_div{
  width: 400px;
  min-height: 450px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);

}
.counter_div{
  margin-top: 80px;
  color: white;
  background-color: rgb(99, 4, 189);
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.button_div{
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: space-between;

}
.button_div button{
  width: 130px;
  height: 60px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(99, 4, 189);
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  transition: background-color 0.3 ease;
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.button_div button:hover{
  background-color: rgb(88, 7, 163);

}